nav ul {
  list-style: none;
  float: right;
}

ul ul {
  display: none;
  position: absolute;
  width:250px;
}

.navbar-brand {
  float: left;
  position: absolute;
}

nav ul li {
  float: right;
  width: 250px;
}

nav ul li a {
  text-decoration: none;
}

li {
  margin: 20px 5px 0px;
  padding: 5px;
  background-color: #fff;
}

#header {
  height: 100px;
}

.text-center, .youtube {
  float: left;
  display: inline-block;
  width: 60%;
}

.timeline-box {
  float: right;
  display: inline-block;
  width: 40%;
}

.riyuki_color_back {
  display: inline-block;
  width: 100%;
}

.riri_color_back {
  display: inline-block;
  width: 100%;
}

.aina_color_back {
  display: inline-block;
  width: 100%;
}

.hatsuki_color_back {
  display: inline-block;
  width: 100%;
}

.himeko_color_back {
  display: inline-block;
  width: 100%;
}

/* div {
  display: block;
} */

.prof-text {
  margin: 0 auto;
  text-align: center;
}

.staff, .google-calendar {
  display:flex;
  align-items:center;
  justify-content:center;
}

.container {
  margin: 10px 20px;
}

#luna>div, #solu>div {
  display: inline-block;
  width: 100%;
}

header {
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
}
